<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>Spoonmap Signup</title>
        <style>
            .root {
                width: 60%;
                height: 500px;
                margin: 100px auto;
                text-align: center;
                border: 1px solid #CCC;
            }

            .content {
                height: 200px;
                padding-top: 125px;
                margin: 0 auto;
                font-size: 20px;
            }

            .password {
                margin: 10px auto;
                padding: 5px 10px;
            }
        </style>
    </head>
    <body>
        <div class="root">
            <div class="header">
                <h1>Spoonmap 비밀번호 찾기</h1>
            </div>
            <div class="content">
                <div>
                    <span>이메일:</span>
                    <span th:text="${email}">example@email.com</span>
                    <p>변경된 비밀번호입니다. 로그인 후 비밀번호를 변경해주세요.</p>
                </div>
                <div class="password">
                    <p th:text="${changedPassword}">PASSWORD</p>
                </div>
            </div>
        </div>
    </body>
</html>